<h2> Build Panel </h2>

A script to build an inventor x patent level panel data set. Take the estiamted contribution shares from the script CalculateParameterStatistics saved as document_data.

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from itertools import combinations
from geopy import distance

Merge in the following data points:
1) inventor gender
2)

In [2]:
inputs_path = "C:/Users/Hannes/Documents/Joe/TeamsAndText/Inputs"
intermediate_outputs_path = "C:/Users/Hannes/Documents/Joe/TeamsAndText/IntermediateOutputs"
results_path = "C:/Users/Hannes/Documents/Joe/TeamsAndText/Results"

In [3]:
document_data = pd.read_csv(f"{results_path}/document_data.csv")
print(np.shape(document_data))
document_data.head()

(2390768, 11)

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,D_team_alpha
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,NaN
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,0.076443
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,0.076443
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,0.076443
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,0.076443

In [4]:
temp_data = pd.read_csv(f"{inputs_path}/inventor_gender.csv")
temp_data.head()

         inventor_id  male_flag  attribution_status
0  fl:jo_ln:marron-5        1.0                   1
1     fl:hy_ln:yu-59        1.0                   1
2   fl:su_ln:lee-786        1.0                   1
3   fl:do_ln:choi-88        1.0                   1
4  fl:do_ln:kim-1539        1.0                   1

In [5]:
document_data = document_data.merge(temp_data, how="left", on="inventor_id")
print(np.shape(document_data))
document_data.head()

(2390768, 13)

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,D_team_alpha,male_flag,attribution_status
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,NaN,1.0,1
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,0.076443,1.0,1
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,0.076443,1.0,1
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,0.076443,1.0,1
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,0.076443,0.0,1

In [6]:
temp_data = pd.read_csv(f"{inputs_path}/application_dates.csv")
temp_data = temp_data[["patent_number", "date"]]
temp_data.head()

C:\Users\Hannes\AppData\Local\Temp/ipykernel_15344/4016681636.py:1: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_data = pd.read_csv(f"{inputs_path}/application_dates.csv")

  patent_number        date
0       D345393  1992-12-21
1       5164715  1990-04-10
2       5177974  1988-06-23
3       5379515  1994-02-16
4       5264790  1991-07-01

In [7]:
temp_data["patent_number"] = temp_data["patent_number"].astype(str)
document_data["patent_number"] = document_data["patent_number"].astype(str)
document_data = document_data.merge(temp_data, how="left", on="patent_number")
print(np.shape(document_data))
document_data.head()

(2390768, 14)

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,D_team_alpha,male_flag,attribution_status,date
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,NaN,1.0,1,1990-08-06
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,0.076443,1.0,1,1990-09-21
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,0.076443,1.0,1,1990-09-21
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,0.076443,1.0,1,1990-09-21
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,0.076443,0.0,1,1990-09-21

In [8]:
document_data["date"] = pd.to_datetime(document_data["date"], infer_datetime_format=True)
document_data.head()

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,D_team_alpha,male_flag,attribution_status,date
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,NaN,1.0,1,1990-08-06
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,0.076443,1.0,1,1990-09-21
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,0.076443,1.0,1,1990-09-21
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,0.076443,1.0,1,1990-09-21
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,0.076443,0.0,1,1990-09-21

In [9]:
document_data["year"] = document_data["date"].dt.year
document_data.head()

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,D_team_alpha,male_flag,attribution_status,date,year
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,NaN,1.0,1,1990-08-06,1990
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,0.076443,1.0,1,1990-09-21,1990
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,0.076443,1.0,1,1990-09-21,1990
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,0.076443,1.0,1,1990-09-21,1990
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,0.076443,0.0,1,1990-09-21,1990

In [10]:
temp_data = pd.read_csv(f"{inputs_path}/patent_inventor_location.csv", dtype={"patent_number":str})
temp_data.head()

,patent_number,inventor_sequence,inventor_id,location_id
0,10000000,0,fl:jo_ln:marron-5,198b0471-16c8-11ed-9b5f-1234bde3cd05
1,10000001,1,fl:hy_ln:yu-59,3eb37495-16c8-11ed-9b5f-1234bde3cd05
2,10000001,0,fl:su_ln:lee-786,6c4ba08f-16c8-11ed-9b5f-1234bde3cd05
3,10000002,2,fl:do_ln:choi-88,755a6338-16c8-11ed-9b5f-1234bde3cd05
4,10000002,3,fl:do_ln:kim-1539,755a6338-16c8-11ed-9b5f-1234bde3cd05

In [11]:
document_data = document_data.merge(temp_data, how="left", on=["patent_number", "inventor_id"])
print(np.shape(document_data))
document_data.head()

(2390768, 17)

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,D_team_alpha,male_flag,attribution_status,date,year,inventor_sequence,location_id
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,NaN,1.0,1,1990-08-06,1990,0,e0f44f4a-16c7-11ed-9b5f-1234bde3cd05
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,0.076443,1.0,1,1990-09-21,1990,4,cd8c51c7-16c7-11ed-9b5f-1234bde3cd05
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,0.076443,1.0,1,1990-09-21,1990,2,a373169d-16c8-11ed-9b5f-1234bde3cd05
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,0.076443,1.0,1,1990-09-21,1990,3,dd02ce4f-16c7-11ed-9b5f-1234bde3cd05
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,0.076443,0.0,1,1990-09-21,1990,1,a373169d-16c8-11ed-9b5f-1234bde3cd05

In [12]:
temp_data = pd.read_csv(f"{inputs_path}/location_disambiguated.csv")
temp_data = temp_data[["location_id", "latitude", "longitude", "disambig_country"]]
temp_data.head()

                            location_id   latitude  longitude disambig_country
0  00235947-16c8-11ed-9b5f-1234bde3cd05  41.919201 -77.538902               US
1  00236a27-16c8-11ed-9b5f-1234bde3cd05  40.750500 -76.447304               US
2  00236f47-16c8-11ed-9b5f-1234bde3cd05  40.281898 -75.692200               US
3  002378d7-16c8-11ed-9b5f-1234bde3cd05  35.698502 -75.740501               US
4  00238cb7-16c8-11ed-9b5f-1234bde3cd05  39.671200 -76.851097               US

In [13]:
document_data = document_data.merge(temp_data, how="left", on="location_id")
print(np.shape(document_data))
document_data.head()

(2390768, 20)

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,D_team_alpha,male_flag,attribution_status,date,year,inventor_sequence,location_id,latitude,longitude,disambig_country
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,NaN,1.0,1,1990-08-06,1990,0,e0f44f4a-16c7-11ed-9b5f-1234bde3cd05,42.276100,-88.192001,US
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,0.076443,1.0,1,1990-09-21,1990,4,cd8c51c7-16c7-11ed-9b5f-1234bde3cd05,43.652199,-94.461098,US
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,0.076443,1.0,1,1990-09-21,1990,2,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,0.076443,1.0,1,1990-09-21,1990,3,dd02ce4f-16c7-11ed-9b5f-1234bde3cd05,45.994099,-95.976700,US
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,0.076443,0.0,1,1990-09-21,1990,1,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US

In [14]:
temp_data = pd.read_csv(f"{inputs_path}/all_patent_citations.csv")
temp_data.head()

C:\Users\Hannes\AppData\Local\Temp/ipykernel_15344/2285517464.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  temp_data = pd.read_csv(f"{inputs_path}/all_patent_citations.csv")

  patent_number  citations
0       $974592          1
1       '799989          1
2       '935893          1
3            +0          1
4      +1850714          1

In [15]:
document_data = document_data.merge(temp_data, how="left", on="patent_number")
print(np.shape(document_data))
document_data.head()

(2390768, 21)

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,...,male_flag,attribution_status,date,year,inventor_sequence,location_id,latitude,longitude,disambig_country,citations
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,...,1.0,1,1990-08-06,1990,0,e0f44f4a-16c7-11ed-9b5f-1234bde3cd05,42.276100,-88.192001,US,42.0
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,...,1.0,1,1990-09-21,1990,4,cd8c51c7-16c7-11ed-9b5f-1234bde3cd05,43.652199,-94.461098,US,325.0
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,...,1.0,1,1990-09-21,1990,2,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,...,1.0,1,1990-09-21,1990,3,dd02ce4f-16c7-11ed-9b5f-1234bde3cd05,45.994099,-95.976700,US,325.0
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,...,0.0,1,1990-09-21,1990,1,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0

In [16]:
temp_data = pd.read_csv(f"{inputs_path}/patent_value_data.csv", dtype={"patent_number":str})
temp_data = temp_data[["patent_number", "xi_real"]]
temp_data.head()

  patent_number   xi_real
0       1568057  1.704306
1       1568124  0.874477
2       1568134  0.874477
3       1568141  1.972018
4       1568142  1.972018

In [17]:
document_data = document_data.merge(temp_data, how="left", on="patent_number")
print(np.shape(document_data))
document_data.head()

(2390768, 22)

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,...,attribution_status,date,year,inventor_sequence,location_id,latitude,longitude,disambig_country,citations,xi_real
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,...,1,1990-08-06,1990,0,e0f44f4a-16c7-11ed-9b5f-1234bde3cd05,42.276100,-88.192001,US,42.0,4.078859
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,...,1,1990-09-21,1990,4,cd8c51c7-16c7-11ed-9b5f-1234bde3cd05,43.652199,-94.461098,US,325.0,3.737033
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,...,1,1990-09-21,1990,2,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,...,1,1990-09-21,1990,3,dd02ce4f-16c7-11ed-9b5f-1234bde3cd05,45.994099,-95.976700,US,325.0,3.737033
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,...,1,1990-09-21,1990,1,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033

In [18]:
temp_data = pd.read_csv(f"{inputs_path}/cpc_classifications_unique.csv", dtype={"patent_number":str})
temp_data = temp_data[["patent_number", "subsection_id"]]
temp_data.head()

  patent_number subsection_id
0       3930271           A63
1       3930272           A47
2       3930273           A61
3       3930274           B63
4       3930275           A43

In [19]:
document_data = document_data.merge(temp_data, how="left", on="patent_number")
print(np.shape(document_data))
document_data.head()

(2390768, 23)

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,...,date,year,inventor_sequence,location_id,latitude,longitude,disambig_country,citations,xi_real,subsection_id
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,...,1990-08-06,1990,0,e0f44f4a-16c7-11ed-9b5f-1234bde3cd05,42.276100,-88.192001,US,42.0,4.078859,A42
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,...,1990-09-21,1990,4,cd8c51c7-16c7-11ed-9b5f-1234bde3cd05,43.652199,-94.461098,US,325.0,3.737033,A44
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,...,1990-09-21,1990,2,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033,A44
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,...,1990-09-21,1990,3,dd02ce4f-16c7-11ed-9b5f-1234bde3cd05,45.994099,-95.976700,US,325.0,3.737033,A44
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,...,1990-09-21,1990,1,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033,A44

In [20]:
temp_data = pd.read_csv(f"{inputs_path}/inventor_ages_unique.csv")
temp_data = temp_data[["inventor_id", "birthyear"]]
temp_data.head()

                 inventor_id  birthyear
0          fl:ro_ln:stern-10       1938
1         fl:ha_ln:syfritt-1       1940
2  vh0qf4z9a38b1mbs93c88plj0       1927
3           fl:ma_ln:vasas-1       1966
4          fl:da_ln:risser-1       1952

In [21]:
document_data = document_data.merge(temp_data, how="left", on="inventor_id")
print(np.shape(document_data))
document_data.head()

(2390768, 24)

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,...,year,inventor_sequence,location_id,latitude,longitude,disambig_country,citations,xi_real,subsection_id,birthyear
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,...,1990,0,e0f44f4a-16c7-11ed-9b5f-1234bde3cd05,42.276100,-88.192001,US,42.0,4.078859,A42,1953.0
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,...,1990,4,cd8c51c7-16c7-11ed-9b5f-1234bde3cd05,43.652199,-94.461098,US,325.0,3.737033,A44,1960.0
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,...,1990,2,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033,A44,1952.0
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,...,1990,3,dd02ce4f-16c7-11ed-9b5f-1234bde3cd05,45.994099,-95.976700,US,325.0,3.737033,A44,1972.0
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,...,1990,1,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033,A44,1961.0

In [22]:
temp_data = pd.read_csv(f"{inputs_path}/all_patent_cpc_count.csv", dtype={"patent_number":str})
temp_data.head()

  patent_number  cpc_class_count
0      10000000                5
1      10000001               12
2      10000002               39
3      10000003               10
4      10000004               25

In [23]:
document_data = document_data.merge(temp_data, how="left", on="patent_number")
print(np.shape(document_data))
document_data.head()

(2390768, 25)

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,...,inventor_sequence,location_id,latitude,longitude,disambig_country,citations,xi_real,subsection_id,birthyear,cpc_class_count
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,...,0,e0f44f4a-16c7-11ed-9b5f-1234bde3cd05,42.276100,-88.192001,US,42.0,4.078859,A42,1953.0,4.0
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,...,4,cd8c51c7-16c7-11ed-9b5f-1234bde3cd05,43.652199,-94.461098,US,325.0,3.737033,A44,1960.0,5.0
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,...,2,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033,A44,1952.0,5.0
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,...,3,dd02ce4f-16c7-11ed-9b5f-1234bde3cd05,45.994099,-95.976700,US,325.0,3.737033,A44,1972.0,5.0
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,...,1,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033,A44,1961.0,5.0

In [24]:
temp_data = pd.read_csv(f"{inputs_path}/inventor_lagged_patentcounts.csv", dtype={"year":int})
temp_data.head()

                 inventor_id  year  patents_in_year  patent_count_lagged
0  0000n6xqianutadbzbgzwled7  2001                1                    0
1  0000n8nqsxhrztn7djlxou00k  1999                1                    0
2  0001el53cgfq6sfc9lli5emie  2019                1                    0
3  0004z0eq002iqz3t9ecx7l5ml  1984                1                    0
4  000c0a89h3umx2083c1fhf6sc  1993                1                    0

In [25]:
document_data.head()

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,...,inventor_sequence,location_id,latitude,longitude,disambig_country,citations,xi_real,subsection_id,birthyear,cpc_class_count
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,...,0,e0f44f4a-16c7-11ed-9b5f-1234bde3cd05,42.276100,-88.192001,US,42.0,4.078859,A42,1953.0,4.0
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,...,4,cd8c51c7-16c7-11ed-9b5f-1234bde3cd05,43.652199,-94.461098,US,325.0,3.737033,A44,1960.0,5.0
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,...,2,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033,A44,1952.0,5.0
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,...,3,dd02ce4f-16c7-11ed-9b5f-1234bde3cd05,45.994099,-95.976700,US,325.0,3.737033,A44,1972.0,5.0
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,...,1,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033,A44,1961.0,5.0

In [26]:
document_data["year"] = document_data["year"].astype(int)
document_data = document_data.merge(temp_data, how="left", on=["inventor_id", "year"])
print(np.shape(document_data))
document_data.head()

(2390768, 27)

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,...,latitude,longitude,disambig_country,citations,xi_real,subsection_id,birthyear,cpc_class_count,patents_in_year,patent_count_lagged
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,...,42.276100,-88.192001,US,42.0,4.078859,A42,1953.0,4.0,2.0,0.0
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,...,43.652199,-94.461098,US,325.0,3.737033,A44,1960.0,5.0,1.0,0.0
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,...,44.919899,-92.933899,US,325.0,3.737033,A44,1952.0,5.0,2.0,7.0
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,...,45.994099,-95.976700,US,325.0,3.737033,A44,1972.0,5.0,1.0,0.0
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,...,44.919899,-92.933899,US,325.0,3.737033,A44,1961.0,5.0,4.0,5.0

In [27]:
temp_data = pd.read_csv(f"{inputs_path}/firm_patent_match_discern.csv", dtype={"patent_number":str} ) # Add in firm id
temp_data.head()

  patent_number  year_granted  permno_adj
0       4234158          1980       10006
1       4206709          1980       10006
2       4219047          1980       10006
3       4192834          1980       10006
4       4225276          1980       10006

In [28]:
document_data = document_data.merge(temp_data, how="left", on="patent_number")
print(np.shape(document_data))
document_data.head()

(2390768, 29)

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,...,disambig_country,citations,xi_real,subsection_id,birthyear,cpc_class_count,patents_in_year,patent_count_lagged,year_granted,permno_adj
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,...,US,42.0,4.078859,A42,1953.0,4.0,2.0,0.0,1992,56573
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,...,US,325.0,3.737033,A44,1960.0,5.0,1.0,0.0,1992,22592
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,...,US,325.0,3.737033,A44,1952.0,5.0,2.0,7.0,1992,22592
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,...,US,325.0,3.737033,A44,1972.0,5.0,1.0,0.0,1992,22592
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,...,US,325.0,3.737033,A44,1961.0,5.0,4.0,5.0,1992,22592

In [29]:
pd.set_option('display.max_columns', 29)
document_data.iloc[:50]

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,D_team_alpha,male_flag,attribution_status,date,year,inventor_sequence,location_id,latitude,longitude,disambig_country,citations,xi_real,subsection_id,birthyear,cpc_class_count,patents_in_year,patent_count_lagged,year_granted,permno_adj
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,NaN,1.0,1,1990-08-06,1990,0,e0f44f4a-16c7-11ed-9b5f-1234bde3cd05,42.276100,-88.192001,US,42.0,4.078859,A42,1953.0,4.0,2.0,0.0,1992,56573
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,0.076443,1.0,1,1990-09-21,1990,4,cd8c51c7-16c7-11ed-9b5f-1234bde3cd05,43.652199,-94.461098,US,325.0,3.737033,A44,1960.0,5.0,1.0,0.0,1992,22592
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,0.076443,1.0,1,1990-09-21,1990,2,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033,A44,1952.0,5.0,2.0,7.0,1992,22592
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,0.076443,1.0,1,1990-09-21,1990,3,dd02ce4f-16c7-11ed-9b5f-1234bde3cd05,45.994099,-95.976700,US,325.0,3.737033,A44,1972.0,5.0,1.0,0.0,1992,22592
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,0.076443,0.0,1,1990-09-21,1990,1,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033,A44,1961.0,5.0,4.0,5.0,1992,22592
5,1,511817,0.158316,5077870,fl:wi_ln:melbye-1,360041,0.387607,5,0.225260,0.359408,0.076443,1.0,1,1990-09-21,1990,0,d1c02932-16c7-11ed-9b5f-1234bde3cd05,45.008202,-93.045700,US,325.0,3.737033,A44,1941.0,5.0,3.0,2.0,1992,22592
6,2,202009,0.342704,5077875,fl:ja_ln:carter-54,360040,0.335140,3,0.375210,0.167108,0.125834,1.0,1,1991-03-12,1991,2,0d13e06f-16c8-11ed-9b5f-1234bde3cd05,42.233398,-71.707802,US,57.0,8.724542,C30,1954.0,4.0,2.0,3.0,1992,24942
7,2,357253,0.321453,5077875,fl:no_ln:pan-1,360040,0.335140,3,0.299392,0.167108,0.125834,0.0,1,1991-03-12,1991,1,072f081b-16c8-11ed-9b5f-1234bde3cd05,42.765598,-71.467697,US,57.0,8.724542,C30,1962.0,4.0,1.0,0.0,1992,24942
8,2,509940,0.335843,5077875,fl:wi_ln:hoke-1,360040,0.335140,3,0.298250,0.167108,0.125834,1.0,1,1991-03-12,1991,0,0bfbd22a-16c8-11ed-9b5f-1234bde3cd05,42.363201,-71.360703,US,57.0,8.724542,C30,1951.0,4.0,2.0,5.0,1992,24942
9,3,496010,0.106668,5077878,fl:vi_ln:barry-2,360039,0.226087,9,0.324110,0.292138,0.126639,1.0,1,1990-07-11,1990,7,05e45d58-16c8-11ed-9b5f-1234bde3cd05,42.309601,-71.441299,US,36.0,16.207052,H01,NaN,6.0,1.0,2.0,1992,21004
10,3,364264,0.108475,5077878,fl:pa_ln:haugsjaa-1,360039,0.226087,9,0.283381,0.292138,0.126639,1.0,1,1990-07-11,1990,5,0c4fb5d0-16c8-11ed-9b5f-1234bde3cd05,42.485100,-71.432800,US,36.0,16.207052,H01,1943.0,6.0,1.0,16.0,1992,21004
11,3,322834,0.111898,5077878,fl:ma_ln:tabasky-1,360039,0.226087,9,0.217001,0.292138,0.126639,1.0,1,1990-07-11,1990,2,0b08cd22-16c8-11ed-9b5f-1234bde3cd05,42.545898,-70.993896,US,36.0,16.207052,H01,1943.0,6.0,4.0,7.0,1992,21004
12,3,322376,0.102366,5077878,fl:ma_ln:stern-9,360039,0.226087,9,0.430186,0.292138,0.126639,0.0,1,1990-07-11,1990,8,07155f0a-16c8-11ed-9b5f-1234bde3cd05,42.383400,-71.416199,US,36.0,16.207052,H01,1946.0,6.0,1.0,1.0,1992,21004
13,3,475025,0.109238,5077878,fl:th_ln:fitzgerald-2,360039,0.226087,9,0.263164,0.292138,0.126639,1.0,1,1990-07-11,1990,3,05e45d58-16c8-11ed-9b5f-1234bde3cd05,42.309601,-71.441299,US,36.0,16.207052,H01,1963.0,6.0,1.0,1.0,1992,21004
14,3,182821,0.113834,5077878,fl:ha_ln:lockwood-2,360039,0.226087,9,0.397365,0.292138,0.126639,1.0,1,1990-07-11,1990,4,0c2c7297-16c8-11ed-9b5f-1234bde3cd05,42.337002,-71.209198,US,36.0,16.207052,H01,1935.0,6.0,1.0,5.0,1992,21004
15,3,91542,0.110060,5077878,fl:cr_ln:armiento-1,360039,0.226087,9,0.331600,0.292138,0.126639,1.0,1,1990-07-11,1990,0,0c4fb5d0-16c8-11ed-9b5f-1234bde3cd05,42.485100,-71.432800,US,36.0,16.207052,H01,1953.0,6.0,2.0,3.0,1992,21004
16,3,320126,0.110629,5077878,fl:ma_ln:rothman-1,360039,0.226087,9,0.276084,0.292138,0.126639,1.0,1,1990-07-11,1990,6,0c4fb5d0-16c8-11ed-9b5f-1234bde3cd05,42.485100,-71.432800,US,36.0,16.207052,H01,NaN,6.0,1.0,0.0,1992,21004
17,3,78200,0.126833,5077878,fl:ch_ln:jagannath-1,360039,0.226087,9,0.389038,0.292138,0.126639,NaN,99,1990-07-11,1990,1,0bfc4d41-16c8-11ed-9b5f-1234bde3cd05,42.186600,-71.305496,US,36.0,16.207052,H01,1954.0,6.0,2.0,2.0,1992,21004
18,4,231484,0.423807,5077893,fl:ji_ln:powell-5,360038,0.365457,2,0.737716,0.669447,0.141764,0.0,1,1991-03-20,1991,1,e5c418ab-16c7-11ed-9b5f-1234bde3cd05,41.772900,-88.147903,US,134.0,1.135044,H01,1941.0,3.0,1.0,0.0,1992,54827
19,4,393367,0.576193,5077893,fl:re_ln:mosquera-1,360038,0.365457,2,0.244496,0.669447,0.141764,1.0,1,1991-03-20,1991,0,c3458988-16c7-11ed-9b5f-1234bde3cd05,33.522499,-117.708000,US,134.0,1.135044,H01,1935.0,3.0,6.0,2.0,1992,54827
20,5,206199,1.000000,5077898,fl:ja_ln:hartwig-1,360037,0.570343,1,0.595670,NaN,NaN,1.0,1,1990-07-25,1990,0,e76902ef-16c7-11ed-9b5f-1234bde3cd05,43.565498,-88.906502,US,23.0,7.641886,A01,1955.0,3.0,1.0,0.0,1992,19350
21,6,35263,0.502550,5077913,fl:an_ln:hallgren-1,360036,0.531921,2,0.467132,0.290454,0.138625,1.0,1,1989-08-31,1989,1,438e6659-16c8-11ed-9b5f-1234bde3cd05,60.485600,15.423500,SE,5.0,1.757050,D21,NaN,4.0,1.0,0.0,1992,59942
22,6,535538,0.497450,5077913,mc3d7ugm3rtmxfsjgh8t2e1fe,360036,0.531921,2,0.632324,0.290454,0.138625,1.0,1,1989-08-31,1989,0,438e6659-16c8-11ed-9b5f-1234bde3cd05,60.485600,15.423500,SE,5.0,1.757050,D21,NaN,4.0,1.0,0.0,1992,59942
23,7,205027,1.000000,5077918,fl:ja_ln:garman-3,360035,0.307968,1,0.244999,NaN,NaN,0.0,1,1990-09-10,1990,0,e9100028-16c7-11ed-9b5f-1234bde3cd05,40.721298,-89.272697,US,50.0,9.756801,E02,1928.0,3.0,3.0,5.0,1992,18542
24,8,424792,1.000000,5077954,fl:ro_ln:williams-106,360034,0.333071,1,0.300032,NaN,NaN,1.0,1,1990-12-04,1990,0,f19dbfea-16c7-11ed-9b5f-1234bde3cd05,31.578199,-84.155701,US,7.0,NaN,B65,NaN,1.0,2.0,4.0,1992,22840
25,9,23519,1.000000,5077955,fl:al_ln:evans-25,360033,0.511983,1,0.466694,NaN,NaN,1.0,1,1990-10-22,1990,0,04726932-16c8-11ed-9b5f-1234bde3cd05,35.780399,-78.639099,US,21.0,NaN,A22,1967.0,3.0,6.0,16.0,1992,25953
26,10,215903,0.334226,5077967,fl:ja_ln:taylor-129,360032,0.574332,3,0.469759,0.364258,0.152534,1.0,1,1990-11-09,1990,2,edfab6f6-16c7-11ed-9b5f-1234bde3cd05,39.101501,-84.512497,US,52.0,9.158787,F04,NaN,2.0,1.0,4.0,1992,12060
27,10,462228,0.303022,5077967,fl:st_ln:widener-2,360032,0.574332,3,0.419770,0.364258,0.152534,1.0,1,1990-11-09,1990,0,4cc237bf-16c8-11ed-9b5f-1234bde3cd05,29.424601,-98.495102,US,52.0,9.158787,F04,1962.0,2.0,1.0,0.0,1992,12060
28,10,508308,0.362751,5077967,fl:wi_ln:dodds-3,360032,0.574332,3,0.567286,0.364258,0.152534,1.0,1,1990-11-09,1990,1,f69dd5be-16c7-11ed-9b5f-1234bde3cd05,39.268101,-84.413300,US,52.0,9.158787,F04,NaN,2.0,4.0,0.0,1992,12060
29,11,57708,1.000000,5077968,fl:br_ln:branstrom-1,360031,0.507430,1,0.512714,NaN,NaN,1.0,1,1990-04-06,1990,0,f2dfc8d0-16c7-11ed-9b5f-1234bde3cd05,26.817499,-80.082100,US,4.0,2.338471,F04,1931.0,7.0,2.0,0.0,1992,17830
30,12,93147,0.512121,5077969,fl:cu_ln:cowan-1,360030,0.356039,2,0.324119,0.142021,0.012898,1.0,1,1990-04-06,1990,1,f2dfc8d0-16c7-11ed-9b5f-1234bde3cd05,26.817499,-80.082100,US,12.0,2.338471,F23,NaN,4.0,1.0,0.0,1992,17830
31,12,166806,0.487879,5077969,fl:ge_ln:liang-2,360030,0.356039,2,0.262329,0.142021,0.012898,1.0,1,1990-04-06,1990,0,f5421b86-16c7-11ed-9b5f-1234bde3cd05,27.198000,-80.251900,US,12.0,2.338471,F23,NaN,4.0,3.0,6.0,1992,17830
32,13,128947,1.000000,5077970,fl:do_ln:hamburg-2,360029,0.486587,1,0.400004,NaN,NaN,1.0,1,1990-06-11,1990,0,f65e6946-16c7-11ed-9b5f-1234bde3cd05,42.546700,-83.211304,US,61.0,18.146030,F02,1934.0,6.0,4.0,17.0,1992,25785
33,14,168910,0.577110,5077972,fl:ge_ln:st.germain-1,360028,0.678020,2,0.833091,0.609457,0.075537,1.0,1,1990-07-03,1990,1,e223fa34-16c7-11ed-9b5f-1234bde3cd05,41.608700,-88.205399,US,13.0,9.756801,F15,1956.0,19.0,2.0,2.0,1992,18542
34,14,126760,0.422890,5077972,fl:do_ln:bianchetta-1,360028,0.678020,2,0.409709,0.609457,0.075537,1.0,1,1990-07-03,1990,0,e44986cc-16c7-11ed-9b5f-1234bde3cd05,41.287800,-88.285599,US,13.0,9.756801,F15,1939.0,19.0,1.0,14.0,1992,18542
35,15,133795,0.518223,5077978,fl:do_ln:woodward-4,360027,0.152655,2,0.230841,0.394938,0.089823,1.0,1,1990-06-12,1990,1,02f2e7e1-16c8-11ed-9b5f-1234bde3cd05,40.680901,-75.751900,US,6.0,19.874405,F25,1943.0,11.0,6.0,6.0,1992,28222
36,15,383500,0.481777,5077978,fl:ra_ln:agrawal-29,360027,0.152655,2,0.277080,0.394938,0.089823,1.0,1,1990-06-12,1990,0,8f1c01d1-16c8-11ed-9b5f-1234bde3cd05,40.602200,-75.471298,US,6.0,19.874405,F25,NaN,11.0,10.0,23.0,1992,28222
37,16,243442,0.489516,5077979,fl:jo_ln:hlava-1,360026,0.425958,2,0.480331,0.187144,0.027903,1.0,1,1990-03-22,1990,1,c3f6661c-16c7-11ed-9b5f-1234bde3cd05,34.144699,-118.644000,US,23.0,3.574281,F25,1961.0,4.0,1.0,1.0,1992,12079
38,16,321766,0.510484,5077979,fl:ma_ln:skertic-1,360026,0.425958,2,0.418539,0.187144,0.027903,1.0,1,1990-03-22,1990,0,c3f6661c-16c7-11ed-9b5f-1234bde3cd05,34.144699,-118.644000,US,23.0,3.574281,F25,1939.0,4.0,1.0,3.0,1992,12079
39,17,13640,1.000000,5077981,cshlwiqb92t751q4ecc7qth1a,360025,0.612254,1,0.557050,NaN,NaN,1.0,1,1991-04-26,1991,0,02c172e8-16c8-11ed-9b5f-1234bde3cd05,43.085300,-76.329102,US,1.0,NaN,F04,1946.0,3.0,1.0,0.0,1992,17830
40,18,214521,1.000000,5077982,fl:ja_ln:shaffer-7,360024,0.445485,1,0.363970,NaN,NaN,1.0,1,1990-02-14,1990,0,cc87f4a7-16c7-11ed-9b5f-1234bde3cd05,35.084099,-106.651000,US,20.0,4.021920,F25,1970.0,5.0,1.0,5.0,1992,69745
41,19,507201,0.469631,5077985,fl:wi_ln:buchser-1,360023,0.589029,2,0.651491,0.219512,0.040370,1.0,1,1990-09-21,1990,0,e0f496b2-16c7-11ed-9b5f-1234bde3cd05,37.939701,-87.895302,US,42.0,5.824871,F25,1928.0,1.0,4.0,8.0,1992,25419
42,19,40964,0.530369,5077985,fl:an_ln:tershak-1,360023,0.589029,2,0.559054,0.219512,0.040370,1.0,1,1990-09-21,1990,1,e0c271d4-16c7-11ed-9b5f-1234bde3cd05,37.974800,-87.555801,US,42.0,5.824871,F25,1943.0,1.0,1.0,11.0,1992,25419
43,20,233747,1.000000,5078001,fl:jo_ln:bakermans-1,360022,0.339605,1,0.265268,NaN,NaN,1.0,1,1991-03-13,1991,0,40a3eb33-16c8-11ed-9b5f-1234bde3cd05,40.266300,-76.886101,US,6.0,4.610019,B21,1937.0,9.0,2.0,38.0,1992,27051
44,21,433379,1.000000,5078007,fl:sa_ln:tadros-1,360021,0.393039,1,0.409031,NaN,NaN,1.0,1,1990-06-27,1990,0,0038a8f4-16c8-11ed-9b5f-1234bde3cd05,39.800701,-75.459602,US,8.0,10.555645,G01,1951.0,2.0,1.0,2.0,1992,11703
45,22,176087,1.000000,5078010,fl:gr_ln:lock-2,360020,0.753713,1,0.585231,NaN,NaN,1.0,1,1990-08-16,1990,0,2253242a-16c8-11ed-9b5f-1234bde3cd05,51.889702,0.899465,GB,14.0,NaN,G01,NaN,1.0,1.0,0.0,1992,20220
46,23,479761,1.000000,5078016,fl:th_ln:russo-2,360019,0.587013,1,0.585205,NaN,NaN,1.0,1,1990-11-30,1990,0,048803cb-16c8-11ed-9b5f-1234bde3cd05,39.448799,-76.417999,US,2.0,7.056868,B22,1979.0,1.0,2.0,3.0,1992,10786
47,24,135518,0.505797,5078031,fl:ea_ln:geary-1,360018,0.244470,2,0.230167,0.066119,0.030506,1.0,1,1989-08-31,1989,1,0ea025b8-16c8-11ed-9b5f-1234bde3cd05,42.447300,-71.224503,US,8.0,16.207052,C04,NaN,8.0,1.0,2.0,1992,21004
48,24,437384,0.494203,5078031,fl:se_ln:buljan-3,360018,0.244470,2,0.200350,0.066119,0.030506,1.0,1,1989-08-31,1989,0,0c4fb5d0-16c8-11ed-9b5f-1234bde3cd05,42.485100,-71.432800,US,8.0,16.207052,C04,1939.0,8.0,2.0,34.0,1992,21004
49,25,240448,1.000000,5078033,fl:jo_ln:formon-1,360017,0.364928,1,0.297318,NaN,NaN,1.0,1,1990-11-13,1990,0,3d7cf203-16c8-11ed-9b5f-1234bde3cd05,33.952801,-84.549599,US,36.0,12.083613,A47,1958.0,6.0,1.0,0.0,1992,23915

In [30]:
document_data.to_csv(f"{results_path}/document_data.csv", index=False)

Given new location data - calculate patent level distance betweeen inventors

In [31]:
patent_distance_dict = dict.fromkeys(document_data["patent_number"])
for pat_num, pat_df in tqdm(document_data.groupby("patent_number")):

    if (pat_df["latitude"].isnull().values.any()) | (pat_df.iloc[0]["team_size"] == 1):

        patent_distance_dict[pat_num] = np.nan

    else:

        idxs = pat_df.index
        inventor_combos = list(combinations(idxs, 2))
        
        pat_distances = []
        for (inv1, inv2) in inventor_combos:

            d = distance.distance(tuple(pat_df.loc[inv1][["latitude", "longitude"]]), 
                                  tuple(pat_df.loc[inv2][["latitude", "longitude"]])).km
            pat_distances.append(d)

        patent_distance_dict[pat_num] = np.mean(pat_distances)
        
document_data["geo_distance"] = document_data["patent_number"].map(patent_distance_dict)

100%|█████████████████████████████████████████████████████████████████████████| 876535/876535 [59:21<00:00, 246.14it/s]

In [32]:
document_data.iloc[:100]

,doc_id,inventor_number,alpha_i,patent_number,inventor_id,team_id,patent_distance,team_size,inventor_distance,D_team,D_team_alpha,male_flag,attribution_status,date,...,location_id,latitude,longitude,disambig_country,citations,xi_real,subsection_id,birthyear,cpc_class_count,patents_in_year,patent_count_lagged,year_granted,permno_adj,geo_distance
0,0,455309,1.000000,5077839,fl:st_ln:keller-13,0,0.292571,1,0.321519,NaN,NaN,1.0,1,1990-08-06,...,e0f44f4a-16c7-11ed-9b5f-1234bde3cd05,42.276100,-88.192001,US,42.0,4.078859,A42,1953.0,4.0,2.0,0.0,1992,56573,NaN
1,1,97228,0.255909,5077870,fl:da_ln:bychinski-1,360041,0.387607,5,0.415432,0.359408,0.076443,1.0,1,1990-09-21,...,cd8c51c7-16c7-11ed-9b5f-1234bde3cd05,43.652199,-94.461098,US,325.0,3.737033,A44,1960.0,5.0,1.0,0.0,1992,22592,166.012479
2,1,295597,0.150625,5077870,fl:le_ln:wood-3,360041,0.387607,5,0.465787,0.359408,0.076443,1.0,1,1990-09-21,...,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033,A44,1952.0,5.0,2.0,7.0,1992,22592,166.012479
3,1,314490,0.211713,5077870,fl:ma_ln:lindseth-1,360041,0.387607,5,0.339747,0.359408,0.076443,1.0,1,1990-09-21,...,dd02ce4f-16c7-11ed-9b5f-1234bde3cd05,45.994099,-95.976700,US,325.0,3.737033,A44,1972.0,5.0,1.0,0.0,1992,22592,166.012479
4,1,464950,0.223438,5077870,fl:su_ln:nestegard-1,360041,0.387607,5,0.305534,0.359408,0.076443,0.0,1,1990-09-21,...,a373169d-16c8-11ed-9b5f-1234bde3cd05,44.919899,-92.933899,US,325.0,3.737033,A44,1961.0,5.0,4.0,5.0,1992,22592,166.012479
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,46,331094,0.316432,5078142,fl:mi_ln:depourbaix-1,360063,0.270690,3,0.312092,0.266741,0.216943,1.0,1,1989-11-21,...,5d0d1602-16c8-11ed-9b5f-1234bde3cd05,39.800598,-105.081000,US,286.0,1.231908,A61,1950.0,8.0,1.0,0.0,1992,76793,31.637617
96,47,508652,0.329031,5078158,fl:wi_ln:evans-10,360062,0.274109,3,0.321355,0.069103,0.018704,1.0,1,1990-08-09,...,cfa4a2e4-16c7-11ed-9b5f-1234bde3cd05,35.769798,-91.640999,US,6.0,NaN,B29,NaN,11.0,3.0,0.0,1992,77485,12.710701
97,47,406904,0.331550,5078158,fl:ro_ln:christian-4,360062,0.274109,3,0.327919,0.069103,0.018704,1.0,1,1990-08-09,...,cfa4a2e4-16c7-11ed-9b5f-1234bde3cd05,35.769798,-91.640999,US,6.0,NaN,B29,NaN,11.0,3.0,1.0,1992,77485,12.710701
98,47,199195,0.339418,5078158,fl:j._ln:lemon-1,360062,0.274109,3,0.288961,0.069103,0.018704,1.0,1,1990-08-09,...,dbd7e4a7-16c7-11ed-9b5f-1234bde3cd05,35.818401,-91.438698,US,6.0,NaN,B29,1955.0,11.0,3.0,0.0,1992,77485,12.710701
99,48,83281,0.496292,5078161,fl:ch_ln:raghavan-3,360061,0.254468,2,0.197067,0.087831,0.004972,NaN,99,1989-05-31,...,25eb036a-16c8-11ed-9b5f-1234bde3cd05,47.479900,-122.203000,US,16.0,0.385085,E01,NaN,2.0,2.0,2.0,1992,37058,19.770586

In [34]:
document_data.to_csv(f"{results_path}/document_data.csv", index=False)